body {
    font-family: Arial, sans-serif;
}

.main {

    background-color: rgb(45, 45, 210);
    margin: 50px auto;

}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    margin-right: 10px;
}

button {
    margin-left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}
